body {
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    top: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

input {
    box-shadow: 1px 1px 1px black;
    background-color: transparent;
    color: white;
    font-size: 3em;
    text-align: center;
}

.input-area, .buttons {
    margin: 20px;
}

button {
	-moz-box-shadow:inset 0px 0px 20px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 0px 20px 0px #91b8b3;
	box-shadow:inset 0px 0px 20px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 27px #2b665e;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
button:active {
	position:relative;
	top:1px;
}


.champs-area {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
}

.champs-with-chests-area {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.champs-without-chests-area {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.champ-with-chest {
    margin: 15px;
    text-align: center;
}

.champ-without-chest {
    margin: 15px;
    text-align: center;
}

.champ-with-chest img {
    border: 2px solid darkgoldenrod;
}